# Node.js
# Build a general Node.js project with npm.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/javascript

jobs:
  - job: Linux
    pool:
     vmImage: 'Ubuntu-16.04'
    steps:
      - template: azure-pipelines-steps.yml
      - script: npm run lint -- --format json -o eslint-results.json
        displayName: 'Run ESLint for Sonar'
      - task: SonarCloudPrepare@1
        inputs:
          SonarCloud: 'SonarCloud'
          scannerMode: 'CLI'
          configMode: 'file'
      - task: SonarCloudPublish@1
        inputs:
          pollingTimeoutSec: '300'
      - task: Npm@1
        condition: and(succeeded(), eq(variables['Build.SourceBranch'], 'refs/heads/master'))
        inputs:
          command: publish
          publishEndpoint: NPM

  - job: Windows
    pool:
      vmImage: vs2017-win2016
    steps:
      - script: |
          git config --global core.autocrlf false
          git config --global core.symlinks true
        displayName: 'Preserve LF endings and symbolic links on check out'
      - template: azure-pipelines-steps.yml

  - job: macOS
    pool:
      vmImage: macos-10.13
    steps:
      # This step can be removed once Mercurial gets installed on the macOS image. See https://github.com/Microsoft/azure-pipelines-image-generation/issues/604
      - script: HOMEBREW_NO_AUTO_UPDATE=1 brew install mercurial
        displayName: 'Install Mercurial'
      - template: azure-pipelines-steps.yml


